* {
    margin: 0;
    padding: 0;
    list-style: none;
    list-style: none;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body {
    
    background-color: #3a99d3;
    color: #333333;
    line-height: 1.6;
    padding: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.container {
    max-width: 800px;
    min-width: 400px;
    width: 100%;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
}

.search-form {
    display: flex;
    gap: 1rem;
}

.search-input {
    flex: 1;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
    outline: none;
}

.search-form button {
    padding: 0.5rem 1rem;
    background-color: #3a99d3;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s;
}

.search-form button:hover {
    background-color: #2a78a3;
    
}

.recipe-list {
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
}

.recipe-item {
    padding: 10px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.3s;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    
}


.recipe-item img {
    width: 100%;
    max-width: 200px;
    border-radius: 5px;
}

.recipe-item:hover {
    background-color: #f1f1f1;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.recipe-details {
    display: none;
    margin-top: 20px;
    padding: 20px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.recipe-details img {
    width: 100%;
    max-width: 400px;
    border-radius: 5px;
    margin-bottom: 20px;
}

.loading {
    display: none;
    margin-top: 20px;
    font-size: 1.2rem;
    color: #333;
}